<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
   "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>SQLWorkbenchJ</string>
    <key>CFBundleDisplayName</key>
    <string>SQL Workbench/J</string>
    <key>CFBundleIdentifier</key>
    <string>sqlworkbench.app</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleExecutable</key>
    <string>SqlWorkbenchJLauncher</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIconFile</key>
    <string>Workbench.icns</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.10.0</string>
</dict>
</plist>
